/* PickleballOpenPlayGen.css */

.pickleball-container {
    padding: 60px;
    border: 1px solid #ccc;
    border-radius: 22px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 200px;
  }
  
  h1 {
    color: grey;
  }
  
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  label {
    display: flex;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: bold;
    color: grey;
    justify-content: space-around;
    flex-direction: column;
  }
  
  input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    -moz-appearance: textfield; /* Firefox */
  }
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  button {
    padding: 12px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    background-color: #45a049;
  }

.schedule-container {
  display: flex;
  flex-direction: column;
    margin-top: 20px;
  }

.optimizeResultCheck {
  margin: 20px;
}

input {
  height: 26px;
}

button.loading {
  cursor: not-allowed; /* Change cursor to not-allowed */
  position: relative;
}

/* Add a loading spinner */
button.loading::after {
  content: '';
  position: absolute;
  top: 15%;
  left: 60%;
  transform: translate(-50%, -50%);
  border: 3px solid #ffffff;
  border-radius: 50%;
  border-top: 4px solid #4caf50;
  width: 18px;
  height: 18px;
  animation: spin 1s linear infinite; /* Add a spinning animation */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Example CSS Styles */
.schedule-container table {
  border-collapse: collapse;
  margin-top: 20px;
}

.schedule-container td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.schedule-container table {
  border-color: gray;
}

.schedule-container tr:hover {
  background-color: #f5f5f5;
}

.schedule-container tr {
  text-align: left;
  border: 1px solid #ddd;
}
